#header {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .white-box {
        background-color: white;
        width: calc(40px + 4vw);
        height: calc(40px + 4vw);
        border-radius: 10px;
    }

    .white-box-small {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .white-box-small:hover {
        cursor: pointer;
    }

    .nav-links {
        a {
            font-size: calc(100% + .5vw);
            font-weight: bold;
            font-family: "Black Ops One", system-ui;
            user-select: none;
        }

        .nav-active-box {
            a {
                text-decoration: none;
                color: orange !important;
            }
        }

        a:not(.nav-active-box a) {
            color:  white !important;
        }

        a:not(.nav-active-box a):hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .ant-dropdown {
        color: black !important;
    }
}

