#header {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .white-box {
        background-color: white;
        width: calc(40px + 4vw);
        height: calc(40px + 4vw);
        border-radius: 10px;
    }

    .white-box-small {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .white-box-small:hover {
        cursor: pointer;
        background-color: rgb(115, 115, 115);
    }

    .nav-links {
        a {
            font-size: calc(100% + .5vw);
            font-weight: bold;
            font-family: "Black Ops One", system-ui;
            user-select: none;
        }

        .nav-active-box {
            a {
                text-decoration: none;
                color: orange !important;
            }
        }

        a:not(.nav-active-box a) {
            color:  white !important;
        }

        a:not(.nav-active-box a):hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .ant-dropdown {
        color: black !important;
    }

    .popup {
        z-index: 1001;
        background-color: rgba(129, 129, 129, 0.406);
    }

    .popup-modal {
        background-color: black;
        color: white;
        width: 20vw;
        border-radius: 10px;
    }

    .decide-button {
        background-color: orange;
        border-radius: 10px;
    }

    .decide-button-dark {
        background-color: rgb(53, 53, 53);
        border-radius: 10px;
    }

    .decide-button-dark:hover {
        background-color: rgb(33, 33, 33);
        cursor: pointer;
    }

    .decide-button:hover {
        background-color: rgba(255, 166, 0, 0.624);
        cursor: pointer;
    }
}

