body {
    margin: 0;
    font-family: "Kanit", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $secondary;
    overscroll-behavior-x: none;
    overscroll-behavior-y: auto;
    color: $secondary;
    background-color: black;
}

.container {
    max-width: unset !important;
    padding: 2rem !important;
    margin: 0 !important;
}

button {
    background-color: $primary !important;
}
  
a {
    color: $primary !important;
}

a:hover {
    color: $tertiary;
}

.App-header {
    min-height: 100vh;
}

.wallpaper {
    object-fit: cover;
    z-index: -1;
}

.vw100 {
    width: 100vw !important;
}

.vh100 {
    height: 100vh !important;
}

.fit-content {
    width: fit-content !important;
}

.inspire-colour {
    color: $inspire !important;
} 

.yourplaylists-colour {
    color: $yourplaylists !important;
}

.profile-colour {
    color: $profile !important;
}

h1, h2, h3, h4, h5, h6, b, p, a {
    transition: font-size 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ant-spin-dot-item {
    background-color: $secondary !important;
}

