#header {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .white-box {
        background-color: white;
        width: 120px;
        height: 120px;
        border-radius: 10px;
    }

    .white-box-small {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .nav-links {
        a {
            font-size: 24px;
            color:  white !important;
            font-weight: bold;
        }

        .nav-active-box {
            background-color: white;
            border-radius: 10px;

            a {
                color: var(--page-color) !important;
            }
        }
    }
}

