#carousel {

    background-color: rgb(0, 0, 0);
    background-image: url("../../resources//Wallpapers/background.jpg");
    background-size: cover;

    .trending-playlists-page {
        --page-color: $inspire;
    }

    .your-playlists-page {
        --page-color: $yourplaylists;
    }

    .profile-page {
        --page-color: $profile;
    }

    .front-page-wrapper {
        height: 100vh !important;
    }

    h2 {
        font-size: calc(100% + 3.5vw);
        font-weight: bold !important;
        color: var(--page-color);
    }

    h3 {
        font-size: calc(100% + 1.5vw);
        font-weight: bold !important;
        color: var(--page-color);
    }

    .nav-right {
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
      }
      
      .nav-left {
        position: absolute;
        left: 2%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
      }

    .nav-left::before {
        content: " ";
        border-left: 15px solid #fff;
        border-bottom: 15px solid #ffffff51;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
    }

    .nav-right::before {
        content: " ";
        border-right: 15px solid #ffffff;
        border-top: 15px solid #ffffff51;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
    }

    .content-frame {
        background-color: black;
        border-radius: 10px;
        overflow-y: scroll;
    }

    .profile-description {
        img {
            height: 15rem;
            object-fit: cover;
            border-radius: 10px;
        }

        h3 {
            width: fit-content;
        }

        b {
            font-size: 24px;
            color: #474747;
        }
    }

    .inactive {
        transform: translateX(2500px);
    }

    .transition {
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}
  