#create-playlist-page {

    background-color: rgb(0, 0, 0);
    background-image: url("../../resources//Wallpapers/background.jpg");
    background-size: cover;

    input, textarea, .add-playlist-thumbnail {
        transition: background-color .3s ease-in-out;
    }

    .playlist-frame {
        background-color: black;
        border-radius: 10px;
        overflow-y: scroll;
    }

    .search-input {
        background-color: rgb(0, 0, 0);
        border: none;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: normal;
    }

    .search-input:hover {
        background-color: #5a5a5a;
    }

    .search-input::placeholder {
        color: #e0e0e0;
    }

    .search-input:focus {
        box-shadow: none !important;
        background-color: #5a5a5a;
    }

    .back {
        top: 50%;
        left: 3%;
        background-color: orange;
         border-radius: 10px;
         padding: .5rem .4rem .5rem .4rem;
    }

    .back:hover {
        cursor: pointer;
    }

    .save {
        top: 50%;
        right: 3%;
        background-color: orange;
         border-radius: 10px;
         padding: .5rem .4rem .5rem .4rem;
    }

    .save:hover {
        cursor: pointer;
    }

    .add-playlist-thumbnail {
        aspect-ratio: 1 / 1;
        height: 100% !important;
        border-radius: 10px;
        background-color: #3b3b3b;
        background-size: cover;
    }

    .add-playlist-thumbnail:hover {
        background-color: #5a5a5a;
        cursor: pointer;
    }

    button {
        background-color: transparent !important;
        border: none;
    }

    .description-tag-container {
        background-color: #3b3b3b;
        width: fit-content;
        border-radius: 100px;
    }

    .description-tag-container:hover {
        background-color: #5a5a5a;
        cursor: pointer;
    }

    .selected-tag {
        background-color: orange;
    }

    .selected-tag:hover {
        background-color: black;
    }
}