#edit-playlist {
    .playlist-cover {
        aspect-ratio: 1 / 1;
        width: 20% !important;
        border-radius: 10px;
        background-color: #3b3b3b;
        background-size: cover;
    }
}