#trending-playlists {
    .filter-button{
        width: auto !important;
        background-color: rgb(26, 26, 26);
        border-radius: 10px;
    }

    .filter-button:hover {
        background-color: orange;
        cursor: pointer;
    }

    .randomizer-button {
        width: 25% !important;
    }

    .description-tag-container {
        background-color: #3b3b3b;
        width: fit-content;
        border-radius: 100px;
    }

    .description-tag-container:hover {
        background-color: #5a5a5a;
        cursor: pointer;
    }

    .selected-tag {
        background-color: orange;
    }

    .selected-tag:hover {
        background-color: black;
    }

    .description-tags {
        max-height: 0;
        padding-top: 0;
        overflow: hidden;
        transition: max-height 1s, padding-top 1s;
    }

    .description-tags.expanded {
        padding-top: 1rem;
        max-height: 1000px;
    }

    .no-entries {
        color:#5a5a5a;
    }
}