#profile-description {
    .profile-banner {
        border-radius: 10px 10px 0 0 !important;
    }

    .description {
        font-size: 130% !important;
    }

    .follow-button {
        user-select: none;
    }

    .follow-button.follow {
        background-color: orange;
        border-radius: 10px;
    }

    .follow-button.followed {
        background-color: #313131;
        border-radius: 10px;
    }
    
    .follow-button:hover {
        background-color: #282828;
        cursor: pointer;
    }
}