#recommendations {
    background-color: orange;
    border-radius: 10px;

    h3 {
        color: black;
    }

    h2 {
        color: white;
        font-weight: bold;
    }

    h4 {
        color: white;
        font-weight: 600;
    }

    b {
        color: white;
        font-weight: 600;
    }

    a {
        color: white !important;
    }
}