#song {
    .song-wrapper {
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        background-color: #3b3b3b;
        user-select: none;
    }
    
    .song-wrapper:hover {
        background-color: #282828;
    }

    p {
        padding: 0 !important;
        margin: 0 !important;
    }

    .artists {
        color: #141414;
        font-size: 90%;
    }

    .darker {
        color: #141414;
    }

    .operational-button-song {
        background-color: rgb(31, 31, 31);
        width: fit-content;
        border-radius: 10px;
        height: fit-content;
        color: rgb(182, 182, 182);

    }

    .operational-button-song:hover {
        background-color: orange;
    }
}

